body {
    background-image: linear-gradient(to right,  rgb(151, 181, 230) , rgb(106, 143, 197) , rgb(26, 42, 82));
}

h1 {
    background-image: linear-gradient(to right,  rgb(151, 181, 230) , rgb(106, 143, 197) , rgb(26, 42, 82));
    position: fixed;
    padding: 30px 725px;
    margin-right: 7px;
    margin-left: -7px;
    margin-top: -8px;
}
div {
    display: inline-block;
}
.text-div {
    position: relative;
    width: 700px;
    height: 400px;
    top: 200px;
    left: 50px;
    background-color: black;
}
.img-div {
    position: relative;
    width: 700px;
    height: 400px;
    top: -186px;
    left: 50px;
    background-color: black;
}