body {
    background-color: rgb(137, 162, 223);
}
main {
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgb(137, 162, 223);
}
div {
    display: inline-block;
}
.d {
   font-size: 100px;
}
.k {
    font-size: 100px;
}
.ul-top {
    list-style: none;
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.ul-side {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.about , .projects , .contact {
    display: inline;
    margin: 0px 211px -20px 100px;
}
.a-about , .a-projects , .a-contact {
    color:rgb(242, 250, 242);
    font-size: 20px;
}
#navtop {
    display: inline-block;
    justify-content: center;
    position: fixed;
    height: 110px;
    margin-right: 85px;
    margin-top: -8px;
    background-color: rgb(33, 33, 66);
    border-radius: 0px 0px 20px 20px;
}
#navside {
    float: right;
    background-color: (137, 162, 223);
    width: 78px;
}
.github , .twitter , .linkedin , .email {
    margin: 45px 0px 0px 0px;
    color: rgb(242, 250, 242);
}
i {
    height: 150px;
    margin-left: 35px;
}
.section1 , .section2 , .section3 {
    height: 250px;
    width: 1345px;
}
h1 {
    display: block;
    margin: 19.920px 80px 19.920px 30px;
    background-color: ;
}