* {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(rgb(151, 181, 230) , rgb(106, 143, 197) , rgb(26, 42, 82));
}
div {
    display: inline-block;
}
.div-letters {
    margin-bottom: 10px;
    margin-top: -10px;
}
section {
    scale: 0;
}
.d {
   font-size: 100px;
   color:rgb(0, 0, 0);
}
.k {
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.d,.k:hover {
    cursor: pointer;
}
.ul-side {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#navtop {
    display: inline-block;
    justify-content: center;
    position: fixed;
    height: 100px;
    width: 1210px;
    margin-right: 85px;
    margin-left: 20px;
    margin-top: -8px;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 20px 20px;
}
#navside {
    float: right;
    background-color: black;
    width: 78px;
    margin-right: -8px;
    margin-left: 8px;
    margin-top: -8px;;
}
.github , .twitter , .linkedin , .email {
    margin: 45px 0px 0px 0px;
    color: rgb(242, 250, 242);
}
i {
    height: 150px;
    margin-left: 35px;
}
.section1 , .section2 , .section3 {
    height: 190px;
    width: 1345px;
}
h1 {
    display: block;
    margin: 19.920px 80px 19.920px 30px;
    background-color: ;
}
.nav-text {
    color:rgb(85, 85, 85);
    font-size: 20px;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    letter-spacing: 0.5rem;
    height: 110px;
    width: 1200px;
    margin-right: 85px;
    margin-left: 20px;
}
#anchor {
    color:rgb(170, 172, 170);
}
#anchor:hover {
    cursor: pointer;
    color: rgb(65, 67, 65);
    background-image: linear-gradient(rgb(151, 181, 230) , rgb(106, 143, 197) , rgb(26, 42, 82));
}
li:hover {
    cursor: pointer;
}
text:hover {
    cursor: pointer;
}
.menu {
    margin: auto;
    display:block;
    cursor: pointer;
    margin-left: 20px;
}
#menu {
    width: 35px;
    height: 5px;
    background-color: black;
  }
  .about {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: -39px;
  }
  .contact {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 39px;
    margin-left: -39px;
  }